{% extends 'base.html.twig' %}

{% block title %}Hello {{ user.username }}!{% endblock %}

{% block body %}
<div class="container" style="margin-top: 200px;">
    {{ form(form) }}
</div>
{% endblock %}
