{% extends 'base.html.twig' %}

{% block title %}New Lessons{% endblock %}

{% block body %}
    <div class="container" style="margin: 170px;">

    {{ include('lessons/_form.html.twig') }}

    <a href="{{ path('app_lessons_index') }}">back to list</a>

    </div>
{% endblock %}
