<!-- Loaders -->
<div class="loaders">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="elements_title">Loaders</div>
            </div>
        </div>
        <div class="row loaders_container">
            <div class="col-lg-3 loader_col">
                <!-- Loader -->
                <div class="loader" data-perc="1.00"><span>Education</span></div>
            </div>
            <div class="col-lg-3 loader_col">
                <!-- Loader -->
                <div class="loader" data-perc="0.50"><span>Passion</span></div>
            </div>
            <div class="col-lg-3 loader_col">
                <!-- Loader -->
                <div class="loader" data-perc="0.75"><span>Work</span></div>
            </div>
            <div class="col-lg-3 loader_col">
                <!-- Loader -->
                <div class="loader" data-perc="0.90"><span>Inspiration</span></div>
            </div>
        </div>
    </div>
</div>
