<!-- Video -->

<div class="video">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="video_container_outer">
                    <div class="video_container">
                        <!-- Video poster image artist: https://unsplash.com/@annademy -->
                        <video id="vid1" class="video-js vjs-default-skin" controls
                               data-setup='{ "poster": "{{ asset('images/video.jpg') }}", "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://youtu.be/5_MRXyYjHDk"}], "youtube": { "iv_load_policy": 1 } }}'>
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>