{% extends 'base.html.twig' %}

{% block body %}
    <h1>Internal server error</h1>

    <p>
        We are working hard for you to access the page you desire. Just give us a minute <a href="{{ path('app_homepage') }}">return to the homepage</a>.

    </p>
{% endblock %}