{% extends 'base.html.twig' %}

{% block body %}
    <h1>Access denied</h1>

    <p>
        To access all the details, please log in first. Otherwise,  <a href="{{ path('app_homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}